<!DOCTYPE html>
<html lang="fa" dir="rtl">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>InHabit - Your habits tracker</title>
  <link rel="stylesheet" href="css/app.css">
</head>
<body>
  <div id="app" class="w-full h-full relative overflow-x-auto overflow-y-auto">
    <div class="dates">
      <div v-for="(day, dayIndex) in daysInMonth" class="date" :class="{ 'date-selected': day.date == today.format('YYYY/MM/DD') }">
        {{ day.dateInPersian }}
      </div>
    </div>
    <div class="habits-data">
      <div class="habits-titles" style="word-wrap: none; white-space: nowrap">
        <div v-for="(habit, habitIndex) in habits" class="habit-title">
          {{ habit }}
        </div>
      </div>
    </div>
  </div>
  
  <script src="js/persian-date.min.js"></script>
  <script src="js/vue.min.js"></script>
  <script src="js/app.js"></script>
</body>
</html>